
body, html{
  padding: 0;
  margin: 0;
  background-color: #ass;
  color: #444;
  width: 100%;
  font-family: sans-serif;
  height: 100%;
  background-color: #7a9;
}

header{
  width: 100%;
  background-color: #444;
  color: #aaa;
  border-bottom: 5px solid #77f;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 100%;
  display: block;
  margin: auto;

}
#root{
  width: 80%;
  max-width: 900px;
  margin: auto;
  min-height: 100%;
  background-color: #444;
}
.todo-list{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.todo-item{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 4px 0 4px 0;
  background-color: #eee;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  height: 50px;
}
.todo-item:hover{

  height: 60px;

}
.todo-item button{
  background-color: inherit;
  border: none;
  outline-style: none;
  font-size: 15px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-item>button *{
  display: block;
  width: 100%;
}


.todo-item>*{
  display: block;
  margin: 5px;
}

.todo-item button:hover{
  background-color: #ddd;
}
.completed{
  border-left: 5px solid #6d7;
}
.notcomplete{
  border-left: 5px solid #d67;
}
.stat{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding-left: 10px;
  color: #ddd;
  font-weight: bold;
  border-left: 2px solid #933;

}
.stat>li>span{
  font-weight: normal;
}


input[type='checkbox']{
  border: 1px solid red;
}
.todo-text{
  flex-grow: 1;
}
